// font
$font : 'Karla', sans-serif;


body{
    font-family: $font !important;
}



//      HALAMAN UTAMA       (INDEX.HTML)      


// alert Welcome
.notif-welcome{
    z-index: 9999 !important;
    font-size: 14px !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;

    button{
        position: absolute !important;
        right: 20px;
    }

    @media screen and (max-width : 600px) {
        font-size: 12px !important;
    }
}

// navbar

// logo navbar
.logo{
    width: 100px;
}

// Navbar all device

.navbar-all-device{

    @media screen and (max-width : 992px) {
        display: none !important;
    }
}

// navbar XS dropdown
.navbar-handphone{
    font-size: 14px;
    font-weight: 500 ;
    display: none !important;

    @media screen and (max-width : 992px) {
        display: block !important;
    
    }

    .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
        background-color: white;
        color: #f7be16;
    }

    .navbar-toggler{
        border: none;
    }

    //dropdown target
    .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
        color: #f7be16; 
    }

    // dropdown kotak
    .dropdown-menu{
        --bs-dropdown-border-color: white;
        li{
            a{
                font-size: 14px;
            }
        }

    }

    .search{
        form{
            input{
                font-size: 14px;
            }
            button{
                font-size: 14px;
                color : white;
            }
        }
    }
}

// Navbar bawah
.navbar-bawah{
    display: none !important;
    a{
        text-decoration: none;
        color: black;

        .card-nav{
            i{
                font-size: 12px !important;
                
            }
            .capt-nav{
                font-size: 12px !important;
            }
        }
    }

    @media screen and (max-width : 992px) {
        display: block !important;
    }
}



// icons notifications

.nav-item .nav-link i span{
    background-color: orange !important;
}

.navbar-all-device{
    @media screen and (max-width : 600px) {
        display: none;
    }

}




// slider
.size-slide{
    button{
        border-radius: 50% !important;
        width: 15px !important;
        height: 15px !important;
        margin-right: 10px !important;

        @media screen and (max-width : 600px) {
            width: 8px !important;
            height: 8px !important;
        }
    }
}



// kategori

.kategori{

    // margin-top: 50px;
    padding: 3rem 0;

    @media screen and (max-width : 600px) {
        padding-top: 1.3rem;
        padding-bottom: 2rem
    }

    .container{

        // img{
        //     width: 100%;
        //     display: block;     
        // }

        .col{
            @media screen and (max-width : 600px) {
                display: flex !important;
                justify-content: space-around !important;
            }


            .pilihan{
                box-sizing: border-box;
                width: 100%;
                height: 250px;
                background-size: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
    
                @media screen and (max-width : 600px) {
                    width: 60px;
                    height: 60px;
                }

                a:visited {
                    color: inherit;
                }

                
                
    
                button{
                    padding: 10px 30px !important;
                    font-weight: bold;
                    border-radius: 5px !important;

                    @media screen and (max-width : 600px) {
                        display: none;
                    }
                }
    
                p{
                    margin-top: 10px;
                    color: white;
                    font-weight: bolder;
                    font-size: 10px;
                    display: none;

                    @media screen and (max-width : 600px) {
                        display: block;
                    }
                }
            }
    
            .one{
                background-image: url(img/kategori1.webp);
            }
            .two{
                background-image: url(img/kategori2.webp);
            }
            .three{
                background-image: url(img/kategori3.webp);
            }
            .four{
                background-image: url(img/kategori4.webp);
            }
        }   
    }
}


// Produk

.produk{

    padding: 3rem 0;

    @media screen and (max-width : 600px) {
        padding: 3rem 0;
    }


    h1{
        font-size: 1.5rem;

        @media screen and (max-width : 600px) {
            font-size: 1.1rem;
        }

    }
    
    // card produk
    .card-produk{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        transition: .5s;
        position: relative;
        padding-bottom: 50px;
        
        &:hover{
            box-shadow: -2px 2px 2px  rgba(0,0,0,.05), 2px 2px 2px  rgba(0,0,0,.05) ;
        }

        &:hover .keranjang-produk{
            display: inline-block;
            @media screen and (max-width : 600px) {
                display : flex;
            }

        }

        .img-produk{
            cursor:pointer;
            img{
                width: 100%;
            }
        }

        .detail-produk{
            font-size: .9rem;
            font-weight: 500;
            .nama-produk{
                margin-top: 15px;
                margin-bottom: 5px;
            }
            .harga-produk{
                margin-top: 0px !important;
            }
        }

        // button keranjang
        .keranjang-produk{
            position: absolute;
            display: none;

            @media screen and (max-width : 600px) {
                display : flex;
            }

            .shop-btn{
                border-radius: 3px;

                
                @media screen and (max-width : 600px) {
                    width: 20%;
                    font-size: 13px;
                    padding: 6px;
                }
            }
            .capt-btn{
                
                color: white;
                padding: 5px 40px;
                border-radius: 3px !important;

                @media screen and (max-width : 600px) {
                    width: 100%;
                    font-size: 13px;
                    padding: 5px 10px;
                }
            }
        }

    }
}


// Flash sale
.flash-sale{
    margin-bottom: 50px;
    @media screen and (max-width : 600px) {
        margin-bottom: 20px;
    }
    img{
        width: 100%;
    }

    .week-sale{
        cursor:pointer;
    }

    .NewYear-sale{

        @media screen and (max-width : 600px) {
        margin-top: 30px;
    }
    }
}

// semua produk

// jenis produk (sale,bestseller,men,women and etc)
.gender-produk{
    text-align: center;
    margin-top: 15px;
    margin-bottom: -10px;
    font-size: .7rem;
    color: rgb(125, 120, 120);
    @media screen and (max-width : 600px) {
        font-size: .6rem;
    }
}


.semua-produk{
    padding: 3rem 0;
    @media screen and (max-width : 600px) {
        min-height: 0px;
        padding: 3rem 0;
    }

    .tampilkan{
        margin-top: 20px;
        border-radius: 3px;
        padding: 10px 40px;
        color: black;
        border: 1px solid black;
        background-color: white;
        font-size: .8rem;

        &:hover{
            color: white;
            border: 1px solid white;
            background-color: black;
        }
    }
}


// About

.about{
    font-size: 13px;
    background-color: #f6f6f8;
    padding: 3rem 0;
    margin-top: 3rem;
    

    @media screen and (max-width : 600px) {
        min-height: 0px;
        padding: 3rem 0;
        margin-top: 0px;
        font-size: 12px;
    }


    h5{
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 30px;

        @media screen and (max-width : 600px) {
            font-size: 15px;
            margin-bottom: 15px;
        }
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            margin-top: 10px;
        }
    }

    .merlin-about{
        p{
            margin-top: 20px;
        }

        .waktu-operasional{
            h5{
                font-size: 13px;
                font-weight: bolder;
                margin-bottom: -15px;

                @media screen and (max-width : 600px) {
                    font-size: 12px;
                }
            }
        }
    }

    .merlin-kategori{
        @media screen and (max-width : 600px) {
            display: none;
        }
    }

    .merlin-brand{
        @media screen and (max-width : 600px) {
            display: none;
        }
    }

    .merlin-payment{
        @media screen and (max-width : 600px) {
            display: none;
        }
    }

    .merlin-followUs{
        input{
            border: 0;
            padding: 10px;
            border-radius: 3px;

            @media screen and (max-width : 600px) {
                padding: 8px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
        button{
            color : white;
            padding: 8px 25px;
            border-radius: 3px;
            font-size: 13px;
            
            @media screen and (max-width : 600px) {
                padding: 6px 15px;
                font-size: 12px;
            }
        }

        .ikon{
            margin-top: 10px;

            i{
                font-size: 23px;
                margin-right: 15px;

                @media screen and (max-width : 600px) {
                    font-size: 18px;
                    margin-right: 10px;
                }
            }
        }
    }

    // Collapse

    .merlin-collapse{

        display: none;

        @media screen and (max-width : 600px) {
            display: block;
        }

        .accordion{

            .accordion-item{
                border: 1px solid #f6f6f8;
                background-color: #f6f6f8;

                h5{
                    margin-bottom: 5px;
                }
                

                [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
                    cursor: auto;
                }


                .accordion-button:focus {
                    border-color: none;
                    box-shadow: none;
                }

                .accordion-button:not(.collapsed) {
                    color: black;
                    box-shadow: none;

                }
                button{
                    background-color: #f6f6f8;
                    padding: 0;

                    &:target{
                        border: 1px solid #f6f6f8;
                    }
    
                }
                
            }

            
            .accordion-collapse{
                background-color: #f6f6f8;

                .accordion-body{
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}


// footer 

footer{
    font-size:13px;
    padding: 15px 0;


    @media screen and (max-width : 600px) {
        margin-bottom: 50px;
        font-size: 12px;
    }
}

//     AKHIR    HALAMAN UTAMA       (INDEX.HTML) 




// ------------- Bagian Kategori -------------

//  AWAL HALAMAN KATEGORI_SALE (KATEGORI_SALE.HTML)

//     Main
main{


    // Tombol waring clik di saring
    .btn-outline-warning {
        --bs-btn-active-color: white;
    }
    

    //  Produk kami judul
    .produk-kami-judul{
        background-image: linear-gradient(#fffaea,#fff);;
        margin-top: 3rem !important;
        padding: 5rem 0;

        @media screen and (max-width : 600px) {
            padding: 3rem 0;
        }
    
        h1{
            font-weight: bold;
        }
    
        nav{
            font-size: 14px;
            @media screen and (max-width : 600px) {
                font-size: 12px;
            }
    
            a{
                text-decoration: none;
                color: black;
            }
            span{
                margin: 0 10px;
            }
        }
    }

    // Tombol filter dan urutan
    .filter-urutan{
        a{
            text-decoration: none;
            color: black;
            font-size: 14px;

            @media screen and (max-width : 600px) {
                font-size: 12px;
            }

            &:hover{
                color: #f7be16;
            }

            span{
                margin: 0 10px;
                @media screen and (max-width : 600px) {
                    margin: 0 5px;
                }
            }


            // Collapse
            .offcanvas{
            font-size: 14px;
            .price{
                label{
                    font-size: 16px;
                    font-weight: bold;
                }

                p{
                    font-size: 14px;
                }

            }

            .color{
                font-size: 16px;
                font-weight: bold;
                margin-top: 40px;

                label{
                    padding: 10px 30px;
                    font-size: 14px;

                }
            }
        }
        }
       
    }

    // Produk baju
    .produk-kami-barang{
        @media screen and (max-width : 600px) {
           padding-top: 0;
        }

        // Produk tidak tersedia
        .produk-tidak-tersedia{
            padding-top: 6rem;
            i{
                font-size: 5rem;
            }
            h3{
                font-weight: bold;
            }
            p{
                font-size: 12px;
                color: #a9a0a0;
            }
        }
        
    }
}

// Kupon

.kupon{
    padding-top: 3rem;
    padding-bottom: 10rem;

    a{
        text-decoration: none;
        color: black;

        &:hover .card-kupon{
            box-shadow: 0 3px 3px 3px rgba(0,0,0,.05);
        }

        .card-kupon{
            padding: 10px;
            font-size: 12px;
            border: 2px solid #f7be16;
    
            i{
                font-size: 14px;
                color: #f7be16;
                margin-right: 10px;
            }
        }
    }
    
}


// nav-total (keranjang)
.nav-total{
    // background-color: #a9a0a0;
    box-shadow: 0 -3px 3px rgba(0,0,0,.05);
    background-color: white;
    padding: 10px 0;

    p,span{
        font-size: 14px;
        margin-bottom: 0;
    }

    span.subtotal-idr{
        font-weight: bold;
        position: absolute;
        right: 0px;
    }

    p.total-harga{
        font-weight: bold;
    }

    button{
        padding: 10px 50px;
        color: white;
        border-radius: 3px;
    }
}



.accordion-button:not(.collapsed) {
    background-color: white !important;
}

.accordion{
    --bs-accordion-border-color: white !important;
    a{
        color: #f7be16 !important;
        
    }
}


// lOGIN 
.card-login-email{
    margin-top: 3rem;
    padding: 30px;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,.05), -5px -5px 5px 3px rgba(0,0,0,.05);
    border-radius: 5px; 

    h5{
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 13px;
        color: #a6a6a6;
    }

    form{
        label{
            margin-top: 20px;
            font-size: 13px;
        }
        input{
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #a6a6a6;
            margin-top: 10px;

        }

        .btn-form{
            button{
                padding: 15px 70px;
                color: white;
                border-radius: 5px;
                margin-top: 20px;
                font-size: 13px;
            }
        }
    }

    .mendaftar-lupakatasandi{
        margin-top: 30px;
        font-size: 13px !important;
        p{
            color: black;
            a{
                font-weight: bold;
                text-decoration: none;

                &:hover{
                    color: #f7be16;
                }
            }
        }
    }

}

.pilih-wa-email{
    a{
        text-decoration: none;
        color: black;
    
        &:hover{
            color: #f7be16;
        }
        .pilih-wa, .pilih-email{
            margin: auto;
            margin-top: 50px;
            padding: 20px;
            border: 1px solid black;
            width: 50%;
            font-size: 16px;
    
    
            @media screen and (max-width : 600px) {
                padding: 15px;
                font-size: 14px;
                width: 80%;
            }
    
            
            i{
                margin-right: 10px;
            }
        }
    }
}


.card-email{
    display: none;
}


// card wahstapp
.card-whatsapp{
    display: none;
    a{
        .pilih-email{
            width: 40%;

            @media screen and (max-width : 600px) {
                width: 80%;
            }
        }
    }
}

.card-whatsapp:target{
    display: block;
}

.card-email:target{
    display: block;
}

