body {
  font-family: "Karla", sans-serif !important;
}

.notif-welcome {
  z-index: 9999 !important;
  font-size: 14px !important;
  border-radius: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  position: relative !important;
}
.notif-welcome button {
  position: absolute !important;
  right: 20px;
}
@media screen and (max-width: 600px) {
  .notif-welcome {
    font-size: 12px !important;
  }
}

.logo {
  width: 100px;
}

@media screen and (max-width: 992px) {
  .navbar-all-device {
    display: none !important;
  }
}

.navbar-handphone {
  font-size: 14px;
  font-weight: 500;
  display: none !important;
}
@media screen and (max-width: 992px) {
  .navbar-handphone {
    display: block !important;
  }
}
.navbar-handphone .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
  background-color: white;
  color: #f7be16;
}
.navbar-handphone .navbar-toggler {
  border: none;
}
.navbar-handphone .navbar-nav .nav-link.active, .navbar-handphone .navbar-nav .nav-link.show {
  color: #f7be16;
}
.navbar-handphone .dropdown-menu {
  --bs-dropdown-border-color: white;
}
.navbar-handphone .dropdown-menu li a {
  font-size: 14px;
}
.navbar-handphone .search form input {
  font-size: 14px;
}
.navbar-handphone .search form button {
  font-size: 14px;
  color: white;
}

.navbar-bawah {
  display: none !important;
}
.navbar-bawah .card-nav {
  cursor: pointer;
}
.navbar-bawah .card-nav i {
  font-size: 12px !important;
}
.navbar-bawah .card-nav .capt-nav {
  font-size: 12px !important;
}
@media screen and (max-width: 992px) {
  .navbar-bawah {
    display: block !important;
  }
}

.nav-item .nav-link i span {
  background-color: orange !important;
}

@media screen and (max-width: 600px) {
  .navbar-all-device {
    display: none;
  }
}

.size-slide button {
  border-radius: 50% !important;
  width: 15px !important;
  height: 15px !important;
  margin-right: 10px !important;
}
@media screen and (max-width: 600px) {
  .size-slide button {
    width: 8px !important;
    height: 8px !important;
  }
}

.kategori {
  padding: 3rem 0;
}
@media screen and (max-width: 600px) {
  .kategori {
    padding-top: 1.3rem;
    padding-bottom: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .kategori .container .col {
    display: flex !important;
    justify-content: space-around !important;
  }
}
.kategori .container .col .pilihan {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .kategori .container .col .pilihan {
    width: 60px;
    height: 60px;
  }
}
.kategori .container .col .pilihan a:visited {
  color: inherit;
}
.kategori .container .col .pilihan button {
  padding: 10px 30px !important;
  font-weight: bold;
  border-radius: 5px !important;
}
@media screen and (max-width: 600px) {
  .kategori .container .col .pilihan button {
    display: none;
  }
}
.kategori .container .col .pilihan p {
  margin-top: 10px;
  color: white;
  font-weight: bolder;
  font-size: 10px;
  display: none;
}
@media screen and (max-width: 600px) {
  .kategori .container .col .pilihan p {
    display: block;
  }
}
.kategori .container .col .one {
  background-image: url(img/kategori1.webp);
}
.kategori .container .col .two {
  background-image: url(img/kategori2.webp);
}
.kategori .container .col .three {
  background-image: url(img/kategori3.webp);
}
.kategori .container .col .four {
  background-image: url(img/kategori4.webp);
}

.produk {
  min-height: 550px;
}
@media screen and (max-width: 600px) {
  .produk {
    min-height: 0px;
    padding: 3rem 0;
  }
}
.produk h1 {
  font-size: 1.5rem;
}
@media screen and (max-width: 600px) {
  .produk h1 {
    font-size: 1.1rem;
  }
}
.produk .card-produk {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
}
.produk .card-produk:hover {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.05), 2px 2px 2px rgba(0, 0, 0, 0.05);
}
.produk .card-produk:hover .keranjang-produk {
  display: inline-block;
}
@media screen and (max-width: 600px) {
  .produk .card-produk:hover .keranjang-produk {
    display: flex;
  }
}
.produk .card-produk .img-produk {
  cursor: pointer;
}
.produk .card-produk .img-produk img {
  width: 100%;
}
.produk .card-produk .detail-produk {
  font-size: 0.9rem;
  font-weight: 500;
}
.produk .card-produk .detail-produk .nama-produk {
  margin-top: 15px;
  margin-bottom: 5px;
}
.produk .card-produk .detail-produk .harga-produk {
  margin-top: 0px !important;
}
.produk .card-produk .keranjang-produk {
  display: none;
}
@media screen and (max-width: 600px) {
  .produk .card-produk .keranjang-produk {
    display: flex;
  }
}
.produk .card-produk .keranjang-produk .shop-btn {
  border-radius: 3px;
}
@media screen and (max-width: 600px) {
  .produk .card-produk .keranjang-produk .shop-btn {
    width: 20%;
    font-size: 13px;
    padding: 6px;
  }
}
.produk .card-produk .keranjang-produk .capt-btn {
  color: white;
  padding: 5px 40px;
  border-radius: 3px !important;
}
@media screen and (max-width: 600px) {
  .produk .card-produk .keranjang-produk .capt-btn {
    width: 100%;
    font-size: 13px;
    padding: 5px 10px;
  }
}

.flash-sale {
  min-height: 400px;
}
@media screen and (max-width: 600px) {
  .flash-sale {
    min-height: 0px;
    padding: 3rem 0;
  }
}
.flash-sale img {
  width: 100%;
}
.flash-sale .week-sale {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .flash-sale .NewYear-sale {
    margin-top: 30px;
  }
}

.semua-produk {
  min-height: 620px;
}
@media screen and (max-width: 600px) {
  .semua-produk {
    min-height: 0px;
    padding: 3rem 0;
  }
}
.semua-produk .gender-produk {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -10px;
  font-size: 0.7rem;
  color: rgb(125, 120, 120);
}
.semua-produk .tampilkan {
  margin-top: 20px;
  border-radius: 3px;
  padding: 10px 40px;
  color: black;
  border: 1px solid black;
  background-color: white;
  font-size: 0.8rem;
}
.semua-produk .tampilkan:hover {
  color: white;
  border: 1px solid white;
  background-color: black;
}

.about {
  font-size: 13px;
  background-color: #f6f6f8;
  padding: 3rem 0;
  margin-top: 3rem;
}
@media screen and (max-width: 600px) {
  .about {
    min-height: 0px;
    padding: 3rem 0;
    margin-top: 0px;
    font-size: 12px;
  }
}
.about h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
@media screen and (max-width: 600px) {
  .about h5 {
    font-size: 15px;
    margin-bottom: 15px;
  }
}
.about ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about ul li {
  margin-top: 10px;
}
.about .merlin-about p {
  margin-top: 20px;
}
.about .merlin-about .waktu-operasional h5 {
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: -15px;
}
@media screen and (max-width: 600px) {
  .about .merlin-about .waktu-operasional h5 {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .about .merlin-kategori {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .about .merlin-brand {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .about .merlin-payment {
    display: none;
  }
}
.about .merlin-followUs input {
  border: 0;
  padding: 10px;
  border-radius: 3px;
}
@media screen and (max-width: 600px) {
  .about .merlin-followUs input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
  }
}
.about .merlin-followUs button {
  color: white;
  padding: 8px 25px;
  border-radius: 3px;
  font-size: 13px;
}
@media screen and (max-width: 600px) {
  .about .merlin-followUs button {
    padding: 6px 15px;
    font-size: 12px;
  }
}
.about .merlin-followUs .ikon {
  margin-top: 10px;
}
.about .merlin-followUs .ikon i {
  font-size: 23px;
  margin-right: 15px;
}
@media screen and (max-width: 600px) {
  .about .merlin-followUs .ikon i {
    font-size: 18px;
    margin-right: 10px;
  }
}
.about .merlin-collapse {
  display: none;
}
@media screen and (max-width: 600px) {
  .about .merlin-collapse {
    display: block;
  }
}
.about .merlin-collapse .accordion .accordion-item {
  border: 1px solid #f6f6f8;
  background-color: #f6f6f8;
}
.about .merlin-collapse .accordion .accordion-item h5 {
  margin-bottom: 5px;
}
.about .merlin-collapse .accordion .accordion-item [type=button]:not(:disabled), .about .merlin-collapse .accordion .accordion-item [type=reset]:not(:disabled), .about .merlin-collapse .accordion .accordion-item [type=submit]:not(:disabled), .about .merlin-collapse .accordion .accordion-item button:not(:disabled) {
  cursor: auto;
}
.about .merlin-collapse .accordion .accordion-item .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.about .merlin-collapse .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: black;
  box-shadow: none;
}
.about .merlin-collapse .accordion .accordion-item button {
  background-color: #f6f6f8;
  padding: 0;
}
.about .merlin-collapse .accordion .accordion-item button:target {
  border: 1px solid #f6f6f8;
}
.about .merlin-collapse .accordion .accordion-collapse {
  background-color: #f6f6f8;
}
.about .merlin-collapse .accordion .accordion-collapse .accordion-body {
  margin: 0;
  padding: 0;
}

footer {
  font-size: 13px;
  padding: 15px 0;
}
@media screen and (max-width: 600px) {
  footer {
    margin-bottom: 50px;
    font-size: 12px;
  }
}

main .btn-outline-warning {
  --bs-btn-active-color: white;
}
main .produk-kami-judul {
  background-image: linear-gradient(#fffaea, #fff);
  margin-top: 3rem !important;
  padding: 5rem 0;
}
@media screen and (max-width: 600px) {
  main .produk-kami-judul {
    padding: 3rem 0;
  }
}
main .produk-kami-judul h1 {
  font-weight: bold;
}
main .produk-kami-judul nav {
  font-size: 14px;
}
main .produk-kami-judul nav a {
  text-decoration: none;
  color: black;
}
main .produk-kami-judul nav span {
  margin: 0 10px;
}
main .filter-urutan a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  main .filter-urutan a {
    font-size: 14px;
  }
}
main .filter-urutan a:hover {
  color: #f7be16;
}
main .filter-urutan a span {
  margin: 0 10px;
}
@media screen and (max-width: 600px) {
  main .filter-urutan a span {
    margin: 0 5px;
  }
}
main .filter-urutan a .offcanvas {
  font-size: 14px;
}
main .filter-urutan a .offcanvas .price label {
  font-size: 16px;
  font-weight: bold;
}
main .filter-urutan a .offcanvas .price p {
  font-size: 14px;
}
main .filter-urutan a .offcanvas .color {
  font-size: 16px;
  font-weight: bold;
  margin-top: 40px;
}
main .filter-urutan a .offcanvas .color label {
  padding: 10px 30px;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  main .produk-kami-barang {
    padding-top: 0;
  }
}/*# sourceMappingURL=main.css.map */